examples/read-gx-serial.json
[
    {
        "id": "2eeb9c0238a7900c",
        "type": "debug",
        "z": "2cfaf18cf249149c",
        "name": "serial",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "35f22d15c2fa86b7",
        "type": "inject",
        "z": "2cfaf18cf249149c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "cda9e7e21da91e0b"
            ]
        ]
    },
    {
        "id": "cda9e7e21da91e0b",
        "type": "victron-modbus",
        "z": "2cfaf18cf249149c",
        "name": "settings / serial",
        "unitid": "100",
        "attribute": {
            "label": "com.victronenergy.system:/Serial",
            "value": "800:string:6:1::R"
        },
        "write": false,
        "server": "9857d07cac1dd3a5",
        "x": 660,
        "y": 520,
        "wires": [
            [
                "2eeb9c0238a7900c"
            ]
        ]
    },
    {
        "id": "9857d07cac1dd3a5",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "venus.local",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    }
]
